{
  "processors": [["stylelint-processor-styled-components"], {
    "ignoreFiles": [],
    "importName": default,
    "moduleName": "styled-components",
    "strict": false,
  }],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}