<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="https://6ojbwa.dm.files.1drv.com/y4phWn2NJLMBNGArYJLoqNJJ4cvz_5AitsvhYATrI2mSJtfIwiuj8hKqm33FxWOeypVc2JSC5SjdLYMlMJW5bG2nwwlO6sD4UcH8aI_ORf6nbpM6qULUrdYvxMV4locXNAHBPmeM20dgSJ10wzTiKuHfD80e3uXRCldP9E2xVJebMfdaw3cbfpgKJjCyzCT09MxeQasEDrpsx0uFVKEZvkcDvlyAXi56AKsT_G1yFCtS0c/logo.png?psid=1")
    title Connec
  body
    header(class='connec-header')
    main(class='connec-main')
    footer(class='connec-footer')